<footer>

    <div class="footer">
        <div class="logo-imprint">
            <a href="#"><img src="./../../../assets/img/logo.png" alt="Logo"></a>

            <a (click)="scrollToImprintsTop()" class="desktop-imprint">{{ "imprint.title" | translate }}</a>
        </div>

        <span class="copyright">© Meriem Weigert 2025</span>

        <div class="link-section">
            <a href="https://github.com/Meriem2024" target="_blank"><img src="./../../../assets/img/icon/github.png"
                    alt="Github Link"></a>
            <a href="#contact"><img src="./../../../assets/img/icon/email.png" alt="Contact me"></a>
            <a href="https://www.linkedin.com/in/weigertm/" target="_blank"><img
                    src="./../../../assets/img/icon/linkedin.png" alt="LinkedIn Link"></a>
        </div>

        <a (click)="scrollToImprintsTop()" class="mobile-imprint">{{ "imprint.title" | translate }}</a>
    </div>
</footer>