<div class="center-max-width">

    <div class="line"></div>
    <div class="space-between" [ngClass]="{'paddingGerman': languageService.german}">
        <div class="link-section">
            <div class="just-links"> <!-- LINKS ERGÄNZEN -->


                <a href="https://github.com/Meriem2024" target="_blank"><img
                        src="./../../../../assets/img/icon/github.png" alt="Github Link"></a>
                <a href="#contact"><img src="./../../../../assets/img/icon/email.png" alt="Contact me"></a>
                <a href="https://www.linkedin.com/in/weigertm/" target="_blank"><img
                        src="./../../../../assets/img/icon/linkedin.png" alt="LinkedIn Link"></a>
                <a href="#contact">info&#64;weigert-webdev.de</a>

            </div>
        </div>

        <div class="scroll-section" [ngClass]="{'scrollGerman': languageService.german}">
            <span>{{ "scroll.scroll" | translate }}</span>
            <img src="./../../../../assets/img/icon/arrow-down.png" alt="Arrow down">
        </div>
    </div>
    <div class="empty-line"></div>
</div>